* {
    margin: 0;
    padding: 0;
}


/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
#closed-captions p {
    opacity: 0;
    transition: .05s;
    position: absolute;
    width: 50vw;
    margin-top: 2rem;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: space-around;
    text-align: center;
}

#closed-captions {
    display: flex;
    justify-content: space-around;
    margin: auto;

}

#closed-captions .on {
    opacity: 1;
}

#closed-captions .off {
    transition: .2s;
    opacity: 0;
}



/* **********************************************
- Background styling -
********************************************** */

html {
    margin: 0;
    padding: 0;
    background-color: black;
}


body {
    width: 1350px;
    overflow: hidden;
}

#video-placeholder {
    display: flex;
    margin: auto;
    width: 720px;
    height: 576px;
    justify-content: space-around;
    z-index: 1;
}


.sound1 iframe {
    animation: buzzerAlarm 1.1s ease;
}

.container {
    /*    background-color: aqua;*/
    height: 1000px;
    width: 1350px;
    display: block;
    margin: auto;
    box-sizing: border-box;
    padding: 200px 100px 100px 100px;
}

.container svg {
    position: absolute;
    display: block;
    margin: auto;
    top: 0;
    left: 0;
    width: 1360px;
    z-index: -1;
}

.cls-1 {
    fill: rgba(255, 255, 255, 0.05);
}


/* **********************************************
- SVG styling -
********************************************** */

.sound0 .Tumm {

    animation: tumm 1s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    animation-iteration-count: 2;
}

.sound1 .Buzzer1,
.sound1 .Buzzer2 {

    animation: buzzer 1.2s ease-in-out both;
    transform: translate3d(0, 0, 0);
    animation-iteration-count: 1;
}

.sound2 .Siren {
    stroke-dasharray: 50;
    animation: siren 2.5s linear;
    animation-iteration-count: 1;
}

.sound4 .Beep1 {
    animation: highbeep 1.5s ease-in-out;
    transform-origin: center;
}

/* - Cells gedeelte - */



.sound5 .CellsBig {
    stroke-dasharray: 50;
    animation: cells 2s linear;
    transform-origin: center;
    animation-iteration-count: 2;
}

.sound6 .CellsBig2 {
    stroke-dasharray: 50;
    animation: cells 1s linear;
    transform-origin: center;
}

.sound11 .Beep2 {
    animation: highbeep 1.5s ease-in-out;
    transform-origin: center;
}

.sound12 .Cells1 {
    animation: cellsSmall 1s ease-in-out;
    transform-origin: center;
}

.sound13 .Cells2 {
    animation: cellsSmall 1s ease-in-out;
    transform-origin: center;
}

.sound14 .intens {}

.sound15 .Cells3 {
    animation: cellsSmall 1s ease-in-out;
    transform-origin: center;
}

.sound16 .Cells4 {
    animation: cellsSmall 1s ease-in-out;
    transform-origin: center;
}

.sound17 .Cells5 {
    animation: cellsSmall 1s ease-in-out;
    transform-origin: center;
}

.sound18 .Cells6 {
    animation: cellsSmall 1s ease-in-out;
    transform-origin: center;
}

.sound19 .Cells7 {
    animation: cellsSmall 1s ease-in-out;
    transform-origin: center;
}

.sound20 .Cells8 {
    animation: cellsSmall 1s ease-in-out;
    transform-origin: center;
}

.sound21 .InterlinkedBig {
    animation: interlinkedBig 1s ease-in-out;
    transform-origin: center;
}

.sound22 .Interlinked11 {
    animation: interlinkedBig2 1s ease-in-out;
    transform-origin: center;
}

.sound23 .Interlinked1 {
    animation: interlinkedTop 1.5s ease-in-out;
    mix-blend-mode: difference;
}

.sound24 .Interlinked4 {
    animation: interlinkedBottom 1.5s ease-in-out;
    mix-blend-mode: difference;
}


.sound25 .Interlinked15 {
    animation: interlinkedTop 1.5s ease-in-out;
    mix-blend-mode: difference;
}

.sound26 .Interlinked3 {
    animation: interlinkedBottom 1.5s ease-in-out;
    mix-blend-mode: difference;
}

.sound27 .Interlinked12 {
    animation: interlinkedTop 1.5s ease-in-out;
    mix-blend-mode: difference;
}

.sound28 .Interlinked2 {
    animation: interlinkedBottom 1.5s ease-in-out;
    mix-blend-mode: difference;
}

.sound29 .Interlinked14 {
    animation: interlinkedBig 1s ease-in-out;
    transform-origin: center;
}

.sound30 .Interlinked10 {
    animation: interlinkedTop 1.5s ease-in-out;
    mix-blend-mode: difference;
}

.sound31 .Interlinked7 {
    animation: interlinkedBottom 1.5s ease-in-out;
    mix-blend-mode: difference;
}

.sound32 .Interlinked8 {
    animation: interlinkedTop 1.5s ease-in-out;
    mix-blend-mode: difference;
}

.sound33 .Interlinked6 {
    animation: interlinkedBottom 1.5s ease-in-out;
    mix-blend-mode: difference;
}

.sound34 .Within2 {

    animation: withincells 2s;
    transform-origin: center;
}

.sound35 .Within1 {

    animation: withincells3 2s;
    transform-origin: center;
}

.sound36 .Within3 {
    animation: withincells2 1.3s;
    animation-iteration-count: 3;
    transform-origin: center;
}


@keyframes cells {
    99% {
        stroke: hotpink;
        stroke-dashoffset: 400;
    }

    100% {
        stroke: none;
    }

}

@keyframes interlinkedTop {
    0% {}

    50% {
        stroke: yellow;
        transform: translateY(30px);
    }

    100% {
        stroke: yellow;
        transform: translateY(0px);
    }
}

@keyframes interlinkedBottom {
    0% {}

    50% {
        stroke: cyan;
        transform: translateY(-30px);
    }

    100% {
        stroke: cyan;
        transform: translateY(0px);
    }
}



@keyframes interlinkedBig {
    0% {}

    50% {
        stroke: #26ff14;
        transform: scaleY(1.1);
    }

    100% {
        stroke: #26ff14;
        transform: scaleY(1);
    }
}

@keyframes interlinkedBig2 {
    0% {}

    50% {
        stroke: #26ff14;
        transform: scaleX(1.1);
    }

    100% {
        stroke: #26ff14;
        transform: scaleX(1);
    }
}


@keyframes highbeep {
    0% {}

    50% {
        fill: #26ff14;
        transform: scaleY(1.1);
    }

    100% {
        fill: #26ff14;
        transform: scaleY(1);


    }
}

@keyframes cellsSmall {
    0% {}

    50% {
        fill: hotpink;
        transform: scaleX(1.05);
    }

    100% {
        fill: hotpink;
        transform: scaleX(1);


    }
}


@keyframes withincells {
    0% {}

    5% {
        fill: #ffcd26;
        transform: skewX(2deg);
    }

    10% {
        fill: #ffcd26;
        transform: skewX(-2deg);
    }

    15% {
        fill: #ffcd26;
        transform: skewX(2deg);
    }

    20% {
        fill: #ffcd26;
        transform: skewX(0deg);
    }

    99% {
        fill: #ffcd26;
        transform: skewX(0deg);
    }

    100% {}
}

@keyframes withincells3 {
    0% {}

    5% {
        fill: #79ff26;
        transform: skewX(2deg);
    }

    10% {
        fill: #79ff26;
        transform: skewX(-2deg);
    }

    15% {
        fill: #79ff26;
        transform: skewX(2deg);
    }

    20% {
        fill: #79ff26;
        transform: skewX(0deg);
    }

    99% {
        fill: #79ff26;
        transform: skewX(0deg);
    }

    100% {}
}

@keyframes withincells2 {
    0% {}

    5% {
        fill: #ff75fa;

        transform: skewY(2deg);
    }

    10% {
        fill: #ff75fa;

        transform: skewY(-2deg);
    }

    15% {
        fill: #ff75fa;

        transform: skewY(2deg);
    }

    20% {
        fill: #ff75fa;

        transform: skewY(0deg);
    }

    99% {
        fill: #ff75fa;

        transform: skewY(0deg);
    }

    100% {}
}




/* **********************************************
- Voices styling -
********************************************** */


.voice1 {
    font-family: monospace;
    color: white;
    font-size: 1.2rem;
    line-height: 2rem;
}

.voice1::before {
    background: url("Icons/speaker.svg") no-repeat;
    background-size: contain;
    height: 1.3rem;
    width: 1.3rem;
    vertical-align: middle;
    content: "";
    font-weight: 600;
    display: inline-block;
    background-color: #237aba;
    padding: ;
    margin-right: 0.7rem;
    line-height: 2rem;
}

.first1 {
    font-family: monospace;
    color: white;
    font-size: 1.2rem;
}

.first1::before {
    background: url("Icons/speaker.svg") no-repeat;
    background-size: contain;
    content: "Intercom";
    font-weight: 600;
    background-color: #237aba;
    padding: 0.1rem 0.3rem;
    margin-right: 0.7rem;
    padding-left: 30px;
    height: 1.3rem;
    width: 1.3rem;
}


.voice2 {
    font-family: sans-serif;
    color: white;
    font-size: 1rem;
    line-height: 2rem;
}

.first2 {
    font-family: sans-serif;
    color: white;
}

.first2::before {
    background-size: contain;
    height: 18px;
    content: "K";
    font-weight: 600;
    background-color: #952fd4;
    padding: 0.1rem 0.3rem;
    margin-right: 0.7rem;
}


.voice2::before {
    background-size: contain;
    height: 18px;
    content: "K";
    font-weight: 600;
    background-color: #952fd4;
    padding: 0.1rem 0.3rem;
    margin-right: 0.7rem;
}

.voice3 {
    color: #ea2c2c;
    font-family: sans-serif;
    transform: skew(-15deg);
    font-weight: 600;
    margin: auto;
    font-size: 1.6rem;
}


.voice4::before {
    background-size: contain;
    height: 18px;
    content: "Mysterious voice:";
    font-weight: 600;
    background-color: #46bc3c;
    padding: 0.1rem 0.3rem;
    margin-right: 0.7rem;
}


.voice4 {
    font-family: sans-serif;
    color: white;
    font-size: 1rem;
}

/*
.sound0 {
    animation: lightning 16s ease forwards;
}
*/


@keyframes siren {

    0% {
        stroke: none;
    }

    1% {
        stroke-dashoffset: 100;
        stroke: url(#SireneGradient);
    }

    99% {
        stroke-dashoffset: 1000;
        stroke: url(#SireneGradient);

    }

    100% {
        stroke: none;
    }
}


@keyframes lightning {

    0% {
        background-color: black;
    }

    10% {
        background-color: #303030;
    }

    20% {
        background-color: black;
    }

    30% {
        background-color: #303030;
    }

    40% {
        background-color: black;
    }

    50% {
        background-color: #303030;
    }

    60% {
        background-color: black;
    }

    70% {
        background-color: #303030;
    }

    80% {
        background-color: black;
    }

    90% {
        background-color: #303030;
    }

    100% {
        background-color: black;
    }

}



/*
@keyframes pulse {
    0% {
        box-shadow: 0px 0px 0px 0px rgba(209, 209, 209, 0.62);
    }

    50% {
        box-shadow: 0px 0px 15px 30px rgba(209, 209, 209, 0.62);
    }

    100% {
        box-shadow: 0px 0px 7px 15px rgba(209, 209, 209, 0.62);
    }
}*/



@keyframes glow {
    0% {
        border-color: #393;
        text-shadow: 0 0 10px rgba(229, 0, 0, 0.81);
    }

    10% {
        border-color: #6f6;
        text-shadow: 0 0 30px #ea2c2c;
    }

    20% {
        border-color: #393;
        text-shadow: 0 0 10px rgba(229, 0, 0, 0.81);
    }

    30% {
        border-color: #6f6;
        text-shadow: 0 0 30px #ea2c2c;
    }

    40% {
        border-color: #393;
        text-shadow: 0 0 10px rgba(229, 0, 0, 0.81);
    }

    50% {
        border-color: #6f6;
        text-shadow: 0 0 30px #ea2c2c;
    }

    70% {
        border-color: #6f6;
        text-shadow: 0 0 30px #ea2c2c;
    }

    90% {
        border-color: #6f6;
        text-shadow: 0 0 30px #ea2c2c;
    }


    100% {
        border-color: #6f6;
        text-shadow: 0 0 30px #ea2c2c;
        opacity: 0;
    }
}

/*

.voice2.cells {

    font-weight: 800;
    color: #ffffff;
    text-shadow: 0px 0px 10px #26ff14;
}
*/

/*
.sound1 {
    color: #46bc3c;
    font-family: sans-serif;
    transform: skew(-15deg);
    font-weight: 600;
    margin: auto;
    font-size: 1.6rem;
}
*/


/* **********************************************
- Ambient noices styling -
********************************************** */

/*
body.sound0 {
    animation: shake 0.8s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    animation-play-state: running;
}



body.sound1 {
    animation: shake 0.8s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    animation-play-state: running;
}


body.sound0.sound1.sound2 {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    animation-play-state: running;
}
*/

@keyframes tumm {

    10%,
    90% {
        transform: translate3d(1px, -1px, 0);
        filter: drop-shadow(0px 0px 10px rgba(229, 0, 0, 0.81));
        fill: red;

    }

    20%,
    80% {
        transform: translate3d(-2px, 2px, 0);
        filter: drop-shadow(0 0 20px rgba(229, 0, 0, 0.81));
        fill: rgba(255, 0, 0, 0.8);
    }

    30%,
    50%,
    70% {
        transform: translate3d(4px, -4px, 0);
        filter: drop-shadow(0 0 10px rgba(229, 0, 0, 0.81));
        fill: rgba(255, 0, 0, 0.9);
    }

    40%,
    60% {
        transform: translate3d(-4px, 4px, 0);
        filter: drop-shadow(0 0 20px rgba(229, 0, 0, 0.81));
        fill: red;
    }
}


@keyframes buzzer {

    10%,
    90% {
        transform: translate3d(1px, -1px, 0);
        filter: drop-shadow(0px 0px 10px rgba(229, 0, 0, 0.81));
        fill: #ffce00;

    }

    20%,
    80% {
        transform: translate3d(-2px, 2px, 0);
        filter: drop-shadow(0 0 20px rgba(229, 0, 0, 0.81));
        fill: rgba(255, 206, 0, 0.2);
    }

    30%,
    50%,
    70% {
        transform: translate3d(4px, -4px, 0);
        filter: drop-shadow(0 0 10px rgba(229, 0, 0, 0.81));
        fill: #ffce00;
    }

    40%,
    60% {
        transform: translate3d(-4px, 4px, 0);
        filter: drop-shadow(0 0 20px rgba(229, 0, 0, 0.81));
        fill: rgba(255, 206, 0, 0.2);
    }
}

@keyframes buzzerAlarm {


    0% {
        box-shadow: 0px 0px 50px 16px rgba(229, 185, 0, 0.81);
        border: 5px solid rgba(229, 185, 0, 0.81);
    }

    50% {
        width: 55vw;
        box-shadow: 0px 0px 50px 16px rgba(229, 185, 0, 0.81);
        border: 2px solid rgba(229, 185, 0, 0.81);
    }

    100% {
        width: 50vw;
        /*        transform: scale(5%);*/
    }
}


/* **********************************************
The first paragraph, with extended timing for
    all siblings. Basically what it does is that
    it shows the text after a delay, which
    corresponds with the time that the word is
    spoken.
You probably want to change the styling.
********************************************** */

.p0 span {
    opacity: 0;
}

.p0.on span:first-of-type {
    opacity: 1;
    transition: 0s;
    font-weight: 200;
}

.p0.on span:nth-of-type(2) {
    opacity: 1;
    transition: 0s .4s;
    margin-right: -.25em;
    font-weight: 400;
}

.p0.on span:nth-of-type(3) {
    opacity: 1;
    transition: 0s .5s;
    margin-right: -.25em;
    font-weight: 600;
}

.p0.on span:nth-of-type(4) {
    opacity: 1;
    transition: 0s .7s;
    margin-right: -.25em;
    font-weight: 800;
}

.p0.on span:nth-of-type(5) {
    opacity: 1;
    transition: 0s 1.1s;
    margin-right: -.25em;

}

.p0.on span:nth-of-type(6) {
    opacity: 1;
    transition: 0s 1.4s;
    margin-right: -.25em;

}

.p0.on span:nth-of-type(7) {
    opacity: 1;
    transition: 0s 1.7s;
    margin-right: -.25em;

}

.p0.on span:nth-of-type(8) {
    opacity: 1;
    transition: 0s 2s;

}

.p0.on span:nth-of-type(9) {
    opacity: 1;
    transition: 0s 3s;

}

.p0.on span:nth-of-type(10) {
    opacity: 1;
    transition: 0s 3.2s;

}

.p0.on span:nth-of-type(11) {
    opacity: 1;
    transition: 0s 3.7s;
}





.p4 span {
    opacity: 0;
}

.p4.on span:first-of-type {
    opacity: 1;
    transition: 0s;
    font-weight: 200;
}

.p4.on span:nth-of-type(2) {
    opacity: 1;
    transition: 0s .4s;
    margin-right: -.15em;
    font-weight: 200;
}

.p4.on span:nth-of-type(3) {
    opacity: 1;
    transition: 0s .5s;
    margin-right: -.15em;
    font-weight: 200;
}

.p4.on span:nth-of-type(4) {
    opacity: 1;
    transition: 0s .7s;
    font-size: 1.4rem;
    font-weight: 800;
    color: #ffffff;
    text-shadow: 0px 0px 10px #26ff14;
}

.p4.on span:nth-of-type(5) {
    opacity: 1;
    transition: 0s 1.1s;
    margin-right: -.15em;

}

.p4.on span:nth-of-type(6) {
    opacity: 1;
    transition: 0s 1.4s;
    margin-right: -.15em;


}

.p4.on span:nth-of-type(7) {
    opacity: 1;
    transition: 0s 1.7s;
    font-size: 1.4rem;
    font-weight: 800;
    color: #ffffff;
    text-shadow: 0px 0px 10px #26ff14;


}

.p4.on span:nth-of-type(8) {
    opacity: 1;
    transition: 0s 2s;

}







.p5 span {
    opacity: 0;
}

.p5.on span:first-of-type {
    opacity: 1;
    transition: 0s;
    font-weight: 200;
}

.p5.on span:nth-of-type(2) {
    opacity: 1;
    transition: 0s .4s;
    margin-right: -.15em;
    font-weight: 200;
}

.p5.on span:nth-of-type(3) {
    opacity: 1;
    transition: 0s .5s;
    font-size: 1.4rem;
    font-weight: 800;
    color: #ffffff;
    text-shadow: 0px 0px 10px #26ff14;
}

.p5.on span:nth-of-type(4) {
    opacity: 1;
    transition: 0s .7s;
    margin-right: -.15em;
    font-weight: 200;

}

.p5.on span:nth-of-type(5) {
    opacity: 1;
    transition: 0s 1.1s;
    margin-right: -.15em;
    font-weight: 200;

}

.p5.on span:nth-of-type(6) {
    opacity: 1;
    transition: 0s 1.4s;
    margin-right: -.15em;
    font-weight: 200;



}

.p5.on span:nth-of-type(7) {
    opacity: 1;
    transition: 0s 1.7s;
    margin-right: ;
    font-weight: 800;
    font-size: 1.4rem;
    color: #ffffff;
    text-shadow: 0px 0px 10px #26ff14;


}

.p5.on span:nth-of-type(8) {
    opacity: 1;
    transition: 0s 2s;

}
